@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body,
body>*,
body * {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.noscroll-bar::-webkit-scrollbar{
  width: 0;
}

@layer components {
    .btn-primary {
        @apply py-2 px-4 bg-blue-500 gap-2 justify-center hover:scale-105 text-slate-700 text-lg sm:text-2xl font-semibold rounded-lg shadow-md opacity-80 flex items-center hover:opacity-[100%] ;
    }
}

.project-item:hover .right {
    opacity: 1;
    font-weight: 700;
    font-size: 28px;
}

.project-item:hover .left {
    font-size: 40px;
    font-weight: 800;
}

.project-item .right {
    opacity: 0.8;
}

.project-item:hover {
    opacity: 1;
}

.project-item {
    opacity: 0.8;
    /* overflow: hidden; */
    position: relative;
}
.project-item-mobile {
    opacity: 1;
}

.project-item .ic {
    margin-left: -100%;
}

.project-item:hover .ic {
    margin-left: -30%;
}


.inverted {
    -webkit-backdrop-filter: invert(80%);
}


.font-custom1,
.font-custom1 * {
    font-family: 'Sarpanch', sans-serif;
}

* {
    font-family: 'Agdasima', sans-serif;
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.timing-linear {
    transition-timing-function: linear;
}

.fadeInOut {
    transition-delay: 0.5s;
}

.text-shadow {
    text-shadow: 0px 0px 4px #ffffff60;
}

.custom-pointer {
    z-index: 200;
    pointer-events: none;
    background-color: #FFF;
    mix-blend-mode: difference;
    scale: 0.5;
    box-shadow: 0 0 5px 5px;
}

.custom-pointer.cursor-hover {
    scale: 1;
}
